  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    
    <!-- Page name -->
    <span ng-switch="$root.funId">
      <h2 ng-switch-when="undefined" class="sub-header">{{matrix.name | capitalize}} - {{entryId ? 'Update' : 'Create'}}</h2>
      <h2 ng-switch-default class="sub-header">{{$root.funList[funId].name}} - {{matrix.name | capitalize}} - {{entryId ? 'Update' : 'Create'}}</h2>
    </span>
    
    <p>
      <a href="/#{{$root.getUrl()}}"  class="btn btn-warning">Cancel & go back</a>
      <button type="button" class="btn btn-primary pull-right" ng-click="submit()">Submit</button>
    </p>
    
    <div class="data-main-content">
      <!-- mono-valued -->
      <form ng-if="matrix && entry" class="well form-horizontal">
        <!-- with ng-if="matrix" we are waiting that matrix is loaded to call include -->
        <!-- binding in onload will fail if we don't do that -->
        <div ng-include="'partials/crud_matrix_create_update_fields.html'" onload="dataStructure = matrix.dataStructure;data = entry"></div>
      </form>
      
      <!-- multi-valued -->
      <div ng-repeat="table in matrix.dataStructure" ng-if="table.multi_valued && entry">
        <br />
        <legend>
          {{table.display_name ? table.display_name : (table.name | capitalize)}}
          <button type="button" class="btn btn-primary btn-xs btn-create pull-right" ng-click="sfAddEntry($parent.$index,table.name)"><span class="glyphicon glyphicon-plus"></span></button>
        </legend>
        <form ng-if="selectedSf[table.name]" class="well form-horizontal">
          <button type="button" class="btn btn-primary pull-right" ng-click="sfSubmit($parent.$index,table.name)">Done</button>
          <div ng-include="'partials/crud_matrix_create_update_fields.html'" onload="dataStructure = table.subFields;data = selectedSf[table.name].entry;"></div>
          <button type="button" class="btn btn-warning pull-right" style="position:relative;bottom:30px" ng-click="sfCancel($parent.$index,table.name)">Cancel</button>
        </form>
        <div class="table-responsive" class="well">
          <table class="table table-striped" ng-if="!angular.isArray(table.subFields)">
            <thead>
              <tr>
                <th ng-repeat="field in table.subFields">{{field.display_name ? field.display_name : (field.name | capitalize)}}</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="line in entry[table.name]">
                <td ng-repeat="field in table.subFields">
                  {{line[field.name]|tableFilter:field.filter}}
                </td>
                
                <td>
                  <button type="button" class="btn btn-primary btn-xs btn-create" ng-click="sfLoadEntry($parent.$index,table.name,$index)"><span class="glyphicon glyphicon-pencil"></span></button>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="sfDelEntry($parent.$index,table.name,$index)"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </div>
