  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="form-signin-heading">Welcome to BuckUTT Administration platform</h2>
    <p>
      With great power comes great responsibility.
      <br />
      Be aware of what you do, there is no turning back.
      <br />
      All manipulated data are under the responsibility of BDE UTT.
      <br />
      All the money on BuckUTT's servers are the property of their respective owners.
      <br /><br /><br /> <3
    </p>
  </div>