  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    
    <!-- Global Clearance -->
    <h3 ng-if="!$root.funId" style="float:right;margin-bottom:0px;">
      <small>Current global clearance: </small><span class="label label-primary label-as-badge">{{clearance | currency2:'€'}}</span>
    </h3>
    
    <!-- Options -->
    <div ng-if="$root.funId" class="btn-group pull-right" style="margin-top:15px;">
      <button type="button" ng-attr-class="btn btn-default blue {{split_promo ? 'active' : ''}}" ng-click="splitPromo()">Show promotion content</button>
      <button type="button" ng-attr-class="btn btn-default blue {{!recap ? 'active' : ''}}" ng-click="doRecap()">Show all purchases</button>
    </div>
    
    <!-- Page name -->
    <span ng-switch="$root.funId">
      <h2 ng-switch-when="undefined" class="sub-header">{{$root.pageName | capitalize}}</h2>
      <h2 ng-switch-default class="sub-header">{{$root.funList[funId].name}} - {{$root.pageName | capitalize}}</h2>
    </span>
    
    <!-- Time select -->
    <input type="time" class="form-control time-input" placeholder="To" ng-model="time_end" ng-blur="watcher(0,1)" required>
    <input type="time" class="form-control time-input" placeholder="From" ng-model="time_start" ng-blur="watcher(0,1)" required>
    
    <!-- Date select -->
    <div class="row" style="width: 500px;">
      <div class="col-lg-6">
          <p class="input-group">
            <span class="input-group-addon" id="sizing-addon1">From</span>
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" datepicker-options="dateOptions"
            datepicker-popup="yyyy-MM-dd" ng-model="date_start" is-open="opened.start" ng-required="true" close-text="Close" />
            
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'start')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
      <div class="col-lg-6">
          <p class="input-group">
            <span class="input-group-addon" id="sizing-addon1">To</span>
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" datepicker-options="dateOptions"
            datepicker-popup="yyyy-MM-dd" ng-model="date_end" is-open="opened.end" ng-required="true" close-text="Close" />
            
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'end')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
    </div>
    
    <!-- Total of table -->
    <h3 ng-if="recap && table.length > 0" style="float:right;margin-bottom:0px;">
      <small>Total: </small><span class="label label-success label-as-badge">{{totalAmount | currency2:'€'}}</span>
    </h3>
    
    <!-- Page num select -->
    <div ng-if="$root.funId && !recap" ng-include="'partials/pagination.html'" style="float:right;margin-top:18px;"></div>
    
    <!-- Display Selected Date -->
    <h3>
      <span ng-if="date_start">
        <small>From: </small>
        <span class="label label-warning">{{date_start | date:'fullDate' }} {{time_start | date:'HH:mm'}}:00</span>
      </span> 
      <span ng-if="date_end">
        <small>To: </small>
        <span class="label label-warning">{{date_end | date:'fullDate' }} {{time_end | date:'HH:mm'}}:59</span>
      </span>
    </h3>
    
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.type}}<br />{{error.message}}</div>
    <div ng-include="include_url"></div>
  </div>