    <div ng-if="date_start && date_end" class="table-responsive data-main-content">
      <div ng-if="date_start > date_end || time_start > time_end" class="alert alert-danger" role="alert">
        Start date must be anterior to end date
      </div>
      <!-- {"PurchasesCount":3,"PurchasesSum":150,"ArticlePrice":50,"ArticleName":"Balisto Jaune","PointName":"Foyer"} -->
      <div ng-if="date_start <= date_end && time_start <= time_end">
        <table ng-if="recap" class="table table-striped">
          <thead>
            <tr>
              <th>Point Name</th>
              <th>Article Name</th>
              <th class="table-numeric">Count</th>
              <th class="table-numeric">Unit Price</th>
              <th class="table-numeric">Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr  ng-if="table != 'empty'" ng-repeat="entry in table">
              <td>{{entry.PointName}}</td>
              <td>{{entry.ArticleName}}</td>
              <td class="table-numeric">{{entry.PurchasesCount | numeric}}</td>
              <td class="table-numeric" ng-if="entry.ArticlePrice > 0">{{entry.ArticlePrice | currency2:'€'}}</td>
              <td class="table-numeric" ng-if="entry.ArticlePrice > 0">{{entry.PurchasesSum | currency2:'€'}}</td>
              <td class="table-numeric" ng-if="entry.ArticlePrice == 0"><span class="label label-primary label-as-badge">Promotion</span></td>
              <td class="table-numeric" ng-if="entry.ArticlePrice == 0"><span class="label label-primary label-as-badge">Promotion</span></td>
            </tr>
          </tbody>
        </table>
        <table ng-if="!recap" class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="col in matrix.dataStructure">{{col.display_name ? col.display_name : (col.name | capitalize)}}</th>
            </tr>
          </thead>
          <tbody>
            <tr  ng-if="table != 'empty'" ng-repeat="entry in table">
              <td ng-repeat="field in matrix.dataStructure">
                <span ng-if="entry[field.name] != 0">{{entry[field.name]|tableFilter:field.filter}}</span>
                <span ng-if="entry[field.name] == 0 &&  split_promo && field.name == 'price'" class="label label-primary label-as-badge">Promotion</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-if="table == 'empty'" class="alert alert-info" role="alert">No data for this period</div>
      </div>
    </div>
